<div class="header">All <span>About</span> Me</div>
<div class="container">
  <div class="content" data-aos="fade-up" data-aos-duration="2500">
      <div class="sec" >
        I am a Java Full Stack Developer with 3 years of experience. 
        I have expertise in building scalable web Applications with handson experience in Java, Spring Boot, Angular, MySql , Postgresql, Kafka. My main motto is to write efficient code to improve performance of application and readable code to reduce peer developers time in understanding my code.
      </div>
      <mat-divider></mat-divider>
      <div class="sec" data-aos="fade-up" >
        My professional Experience includes: Senior System Engineer at Infosys (Apr '22 - Present) and Graduate Engineer at Coromandel(Sep '21 - Apr '22).      
        I have done my graduation from Jawaharlal Nehru Technological University(JNTU). With major academics acheivements as Secured State 5th rank in ECET exam in 2018, Received Prathibha award for excelence in Academics by Govt of Andhra Pradesh and Cracked Gate exam with Gate Score of 692.
      </div>
      <mat-divider></mat-divider>
      <div class="sec" data-aos="fade-up" >
        Problem solving always excites me. Having solved 500+ coding problems in Leet code and Geeks for Geeks, my proficiency in Data Structures and Algorithms has become a cornerstone of my skill set. Learning is always part of me.  It's a lifelong journey where curiosity fuels my growth, and every challenge is an opportunity to acquire new knowledge and skills.  
      </div>
  </div>
  <div class="image">
      <img src="assets/about_pic.gif" alt="">
  </div>
</div>