<div class="container">
  <div class="sidenav">
    <div class="icons">
      <div>
        <i class="fa-regular fa-envelope mail_icon"></i>
      </div>
      <div>
        <i class="fa-brands fa-whatsapp whatsapp_icon"></i>
      </div>
      <div>
        <i class="fa-brands fa-github git_icon"></i>
      </div>
      <div>
        <i class="fa-brands fa-linkedin linkedin_icon"></i>
      </div>
    </div>
  
    <div class="icons">
      <mat-icon class="material-icons-outlined whatsapp_icon">whatsapp</mat-icon>
  </div>
 </div>
 <div class="side_content">
 <div class="myNavbar">
   <div class="logo">N<span>aveen</span></div>
    <ul class="navItems">
     <li>Home</li>
     <li>About</li>
     <li>Experience</li>
     <li>Skills</li>
     <li>Contact</li>
     <li>Resume</li>
    </ul>
 </div>
 <app-home></app-home>
 <app-about></app-about>
 <app-work></app-work>
 <app-skills></app-skills>
</div>
</div>