/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'roboto_bold';
    src: url('./assets/Roboto-Bold.ttf');
  }

  @font-face {
    font-family: 'roboto_regular';
    src: url('./assets/Roboto-Regular.ttf');
  }