<div class="container">
    <div class="profileContainer">
        <img src="assets/NaveenProfile.jpeg" alt="">
    </div>
    <div class="content">
        <h1>Hi There, I'm</h1>
        <div class="name">Naveen Penke</div>
        <div class="profession">
           <span class="text first_text">I'm a </span>
           <span class="text second_text" >Java Full Stack Developer</span>
        </div>
        <button mat-raised-button color="primary" >Download Resume</button>
    </div>
</div>

 