.container{
    display: flex;
    align-items: center;
}
.profileContainer{
    height:40%;
    width: 20%;
    margin-left: 15%;
}
.profileContainer img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.content{
    margin: auto;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name{
    font-size: 50px;
    margin-bottom: 20px;
}
.profession{
    margin-bottom: 20px;
}
.profession .text{
   position: relative;
   font-size: 25px;
   color:  #DC143C;
  
   
}
.profession .text.first_text{
   color :black;
}
.text.second_text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    margin-left: 3px;
    border-left: 2px solid red;
    animation: animate 6s steps(12) infinite;
}

@keyframes animate{
    40%,60%{
        left:100%
    }
    100%{
        left:0%
    }
}

.blink {
    border-right-style: solid;
    animation: 1s blink infinity;
  }
  @keyframes blink {
    to {
      opacity: 0;
    }
  }

  ::ng-deep .typed-cursor{
    animation: blink 0,7s infinite;
  }